.home {
    background-image: linear-gradient(to bottom,  #8CC63F, #009245);
    min-height: 100vh;
    /* min-width: 50vh; */
}
.counter2 {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 30%;
}
.menu {
    padding-top: 5%;
    padding-left: 5%;
}
.home-content {
    margin-top: 10%;
}
.home-button {
    border-radius: 50px !important;
    border: none !important;
    font-weight: bold !important;
    width: 80% !important;
    font-size: 15px !important;
    height: 3.4rem !important;
    background: white !important;
    color: #009245 !important;
    position: absolute;
    bottom: 8%;
}
.home-content h2 {
    text-align: center;
    color: white;
}
.button-div {
    padding-right: 10%;
    padding-left: 10%;
}