
  
  .Special-logo {
    height: 25vmin;
    
  }
  
  .Logo-header {
    min-height: 48vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: white;
  }
  .Logo-header2 {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: white;
  }
  .sign-up2 {
      /* background: blue; */
        background-image: url('../assets/register_bg.svg');
      min-height: 60vh;
      background-size: cover;
  }
  .Login-body2 {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20px;
    font-weight: solid;
    text-align: left;
    color: white;
  }
  .login-input {
    /* background: #292929; */
    background: none !important;
    border: none !important;
    border-radius: 0px !important;
    color:#fff !important;
    font-size:1.3rem ;
    opacity: 0.8;
    border-bottom: 2px solid white !important;
    transition:all .2s ease-in;
    caret-color: white;

  }
  .login-input:focus {
    background: none !important;
    border: none !important;
    color:#fff !important;
    outline: none !important;
    box-shadow: none !important;
    border-bottom: 2px solid white !important
    

  }
  .login-input::placeholder { 
    color: white !important;
    opacity: 5 !important;
  }
  .Login-btn {
      border: 1px solid white !important;
      border-radius: 50px !important;
  }
  .Login-btn:hover {
    background: transparent !important;
    /* border: none !important; */
    outline: transparent !important;
  }
  .btn-outline-secondary:hover {
    /* background: none !important; */
    outline: none !important;
    /* border: none !important; */
  }
  .login-input:active {
    background: none !important;
    border: none !important;
    color:#fff !important;
    outline: none !important;
    box-shadow: none !;
    border-bottom: 2px solid white

  }

  .App-button {
    width: 90%;
    /* background-color: #DA0000 !important; */
    position: absolute;
    bottom: 7%;
  
  
   
  }
  .App-link {
    color: #09d3ac;
  }
  