.SideDrawer {
    position: fixed;
    width: 350px;
    max-width: 80%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    /* padding: 32px 16px; */
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}
.universal-pad2 {
    padding-left: 7%;
    padding-right: 10%;
    padding-top: 5%;
}

@media (min-width: 700px) {
    .SideDrawer {
        display: none;
    }
}
.avatar {
    height: 20vmin;
    
  }
.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}
.side-icons {
    margin-bottom: 1.7rem;
}
.dash-card {
    background-image: url('../../assets/gradient_bottom.png');
    min-height: 14rem
}
.card-body {
    margin-top: 18%;
    margin-right: 10%;
    color: white
}
h3 {
    margin-bottom: 10% !important;
}

